:root {
  /* ШРИФТ-СЕМЕЙСТВО */

  --font-family-page: SourceSans, sans-serif;

  --font-family-nav-subtitle: SourceSans, sans-serif;
  --font-family-nav-link: SourceSans, sans-serif;
  --font-family-section-title: SourceSans, sans-serif;
  --font-family-section-text: SourceSans, sans-serif;

  --font-family-header-list-link: SourceSans, sans-serif;

  --font-family-cover-text-title: SourceSans, sans-serif;

  /* ШРИФТ-ТОЛЩИНА */

  --font-weight-page: 400;

  --font-weight-nav-subtitle: 400;
  --font-weight-nav-link: 400;
  --font-weight-section-title: 700;
  --font-weight-section-text: 400;

  --font-weight-header-list-link: 600;

  --font-weight-cover-text-title: 700;

  /* ШРИФТ-РАЗМЕР */

  --font-size-page: 16px;

  --font-size-nav-subtitle: 14px;
  --font-size-nav-link: 16px;
  --font-size-section-title: 48px;
  --font-size-section-text: 16px;

  --font-size-header-list-link: 20px;

  --font-size-cover-text-title: 60px;

  /* ВЫСОТА СТРОКИ */

  --line-height-page: 120%;

  --line-height-nav-subtitle: 120%;
  --line-height-nav-link: 120%;
  --line-height-section-title: 120%;

  --line-height-header-list-link: 100%;

  --line-height-cover-text-title: 120%;
  --line-height-cover-text-paragraph: 120%;

  --line-height-about-text-paragraph: 140%;

  /* МЕЖСТРОЧНЫЙ ИНТЕРВАЛ */

  --letter-spacing-page: 0%;

  --letter-spacing-nav-subtitle: 0%;
  --letter-spacing-nav-link: 0%;
  --letter-spacing-section-title: 0%;
  --letter-spacing-section-text: 0%;

  --letter-spacing-header-list-link: 0%;

  --letter-spacing-cover-text-title: 0%;

  /* ШРИФТ-ЦВЕТ */

  --font-color-page: rgb(51, 51, 51);

  --font-color-section-title: rgb(51, 51, 51);
  --font-color-section-text: rgb(51, 51, 51);

  --font-color-header-list-text: rgb(51, 51, 51);
  --font-color-header-list-link: rgb(96, 124, 230);
  --font-color-header-menu-link: rgb(51, 51, 51);
  --font-color-header-button: rgb(96, 124, 230);

  --font-color-cover-text-title: rgb(51, 51, 51);

  /* ФОН ЭЛЕМЕНТА */

  --background-color-header-button: transparent;

  /* РАМКА ЭЛЕМЕНТА */

  --border-header-top: 1px solid rgb(136, 136, 136);
}
