.page {
  width: 1440px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-page);
  font-weight: var(--font-weight-page);
  font-size: var(--font-size-page);
  line-height: var(--line-height-page);
  letter-spacing: var(--letter-spacing-page);
  color: var(--font-color-page);
}

/* ПАТТЕРНЫ */

.navigation-subtitle {
  font-family: var(--font-family-nav-subtitle);
  font-weight: var(--font-weight-nav-subtitle);
  font-size: var(--font-size-nav-subtitle);
  line-height: var(--line-height-nav-subtitle);
  letter-spacing: var(--letter-spacing-nav-subtitle);
}

.navigation-link {
  font-family: var(--font-family-nav-link);
  font-weight: var(--font-weight-nav-link);
  font-size: var(--font-size-nav-link);
  line-height: var(--line-height-nav-link);
  letter-spacing: var(--letter-spacing-nav-link);
}

.section-title {
  font-family: var(--font-family-section-title);
  font-weight: var(--font-weight-section-title);
  font-size: var(--font-size-section-title);
  line-height: var(--line-height-section-title);
  letter-spacing: var(--letter-spacing-section-title);
  color: var(--font-color-section-title);
}

.section-text {
  font-family: var(--font-family-section-text);
  font-weight: var(--font-weight-section-text);
  font-size: var(--font-size-section-text);
  letter-spacing: var(--letter-spacing-section-text);
  color: var(--font-color-section-text);
}

/* ШАПКА САЙТА */

.header {
  width: 1180px;
  height: max-content;
  margin: 32px 130px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-top {
  width: 100%;
  border-bottom: var(--border-header-top);
  padding: 0 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo-img {
  width: 180px;
  height: 38px;
}

.header__list {
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.header__list-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.header__list-text {
  color: var(--font-color-header-list-text);
}

.header__list-link {
  font-family: var(--font-family-header-list-link);
  font-weight: var(--font-weight-header-list-link);
  font-size: var(--font-size-header-list-link);
  line-height: var(--line-height-header-list-link);
  letter-spacing: var(--letter-spacing-header-list-link);
  color: var(--font-color-header-list-link);
}

#phone-link {
  text-decoration: none;
}

.header-bottom {
  width: max-content;
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  gap: 44px;
}

.header__menu-list {
  list-style-type: none;
}

.header__menu-link {
  color: var(--font-color-header-menu-link);
  text-decoration: none;
}

.header-button {
  border: none;
  background-color: var(--background-color-header-button);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.header-button span {
  color: var(--font-color-header-button);
  text-transform: uppercase;
}

/* ОСНОВНАЯ ЧАСТЬ САЙТА */

.main {
  padding: 80px 130px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* СЕКЦИЯ С ЗАГОЛОВКОМ */

.cover {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cover__text {
  display: flex;
  flex-direction: row;
  gap: 92px;
}

.cover__text-title {
  max-width: 16ch;
  width: 100%;
  font-family: var(--font-family-cover-text-title);
  font-weight: var(--font-weight-cover-text-title);
  font-size: var(--font-size-cover-text-title);
  line-height: var(--line-height-cover-text-title);
  letter-spacing: var(--letter-spacing-cover-text-title);
  color: var(--font-color-cover-text-title);
}

.cover__text-paragraph {
  margin-top: 26px;
  max-width: 45ch;
  width: 100%;
  line-height: var(--line-height-cover-text-paragraph);
}

.cover-image {
  width: 100%;
  height: 440px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* СЕКЦИЯ С ОПИСАНИЕМ */

.about {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about__text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 24px;
}

.about__text-paragraph {
  max-width: 580px;
  line-height: var(--line-height-about-text-paragraph);
}

.about-image__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.about-image__container-picture {
  width: 580px;
  height: 280px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-image__container-picture:first-child {
  background-image: url(../images/about-1.jpg);
}

.about-image__container-picture:last-child {
  background-image: url(../images/about-2.jpg);
}

/* СЕКЦИЯ С КАРТОЧКАМИ ПРОДУКТОВ */

.products {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 25px;
}

.products__list-item {
  list-style-type: none;
}

.products__card {
  padding: 32px 24px;
  width: 380px;
  height: 435px;
  background-color: var(--background-color-products-card);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products__card-logo {
  width: 200px;
}

.products__list-item:nth-child(2) .products__card-logo {
  margin-top: 23px;
}

.products__card-title {
  font-family: var(--font-family-products-card-title);
  font-weight: var(--font-weight-products-card-title);
  font-size: var(--font-size-products-card-title);
  line-height: var(--line-height-products-card-title);
  letter-spacing: var(--letter-spacing-products-card-title);
  color: var(--font-color-products-card-title);
}

.products__card-button {
  border: none;
  background-color: var(--background-color-products-card-button);
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.products__card-button span {
  font-family: var(--font-family-products-card-button);
  font-weight: var(--font-weight-products-card-button);
  font-size: var(--font-size-products-card-button);
  line-height: var(--line-height-products-card-button);
  letter-spacing: var(--letter-spacing-products-card-button);
  color: var(--font-color-products-card-button);
}

/* СЕКЦИЯ С КАРТОЙ */

.map {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

/* СЕКЦИЯ С НОВОСТЯМИ */

.news {
  display: flex;
  flex-direction: column;
}

/* ПОДВАЛ САЙТА */

.footer {
  padding: 56px 130px 24px;
}
